/* **************** GRIDS ***************** */
.line:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.line{*zoom:1;}
.unit{float:left;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.size1of6{width:16.66666%;}
.size2of6{width:33.33332%;}
.size3of6{width:49.99998%;}
.size4of6{width:66.66664%;}
.size5of6{width:83.33330%;}
.lastUnit{display:table-cell;*display:block;*zoom:1;float:none;_position:relative;_left:-3px;_margin-right:-3px;width:auto;}
/* Site Style */
html{margin-left:250px;margin-right:50px;}
body{color:black;background-color:silver;background-image:url(../img/perl_oasis.jpg);background-repeat:no-repeat;background-attachment:fixed;font-size:9pt;font-family:"Helvitica","Arial",sans-serif;}
h1{font-size:36pt;}
h1,h2,h3{color:black;font-family:"Times","Times New Roman",serif;}
a{color:black;}
h2 a{text-decoration:none;}
h2 a:hover{text-decoration:underline;}
#menu li{list-style:none;font-size:8pt;}
#menu h2,#menu ul{margin-top:0px;margin-bottom:1ex;}
/* Schedule */
th{background-color:silver;color:black;}
.header{color:black;background-color:silver;vertical-align:top;}
.venue{color:#933;background-color:silver;vertical-align:top;}
.out,.out a{color:black ;background-color:silver;vertical-align:top;}
.r1,.r1 a{color:#933 ;background-color:silver;vertical-align:top;}
.r2,.r2 a{color:#363;background-color:silver;vertical-align:top;}
.r3,.r3 a{color:#336;background-color:silver;vertical-align:top;}
.r4,.r4 a{color:#663;background-color:silver;vertical-align:top;}
.r5,.r5 a{color:#366;background-color:silver;vertical-align:top;}
.mtbutton{cursor:pointer;vertical-align:middle;}
