/*~------------------------------------------------------------------*/
/* Timetable colours                                                 */
/*~------------------------------------------------------------------*/
th { 	
	background-color: silver;
	color: black;
}

.header {
color: silver;
background-color: black;
vertical-align: top;
}
.venue {
color: #FFCC00;
background-color: black;
vertical-align: top;
}
.out, .out a {
color: #EEEEEE !important;
background-color: black;
vertical-align: top;
}
.r1, .r1 a {
color: #FFD3D3 !important;
background-color: black;
vertical-align: top;
}
.r2, .r2 a {
color: #D3FFD3;
background-color: black;
vertical-align: top;
}
.r3, .r3 a {
color: #D3D3FF;
background-color: black;
vertical-align: top;
}
.r4, .r4 a {
color: #FFFFD3;
background-color: black;
vertical-align: top;
}
.r5, .r5 a {
color: #D3FFFF;
background-color: black;
vertical-align: top;
}
.mtbutton {
cursor:pointer;
vertical-align: middle;
}
